HolidayReservationSystemClient/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="allocateRoomsForReservationByReservationId">
<part name="parameters" element="tns:allocateRoomsForReservationByReservationId"/>
</message>
<message name="allocateRoomsForReservationByReservationIdResponse">
<part name="parameters" element="tns:allocateRoomsForReservationByReservationIdResponse"/>
</message>
<message name="retrieveAvailableRoomTypes">
<part name="parameters" element="tns:retrieveAvailableRoomTypes"/>
</message>
<message name="retrieveAvailableRoomTypesResponse">
<part name="parameters" element="tns:retrieveAvailableRoomTypesResponse"/>
</message>
<message name="viewPartnerReservationDetails">
<part name="parameters" element="tns:viewPartnerReservationDetails"/>
</message>
<message name="viewPartnerReservationDetailsResponse">
<part name="parameters" element="tns:viewPartnerReservationDetailsResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="createNewPartnerReservation">
<part name="parameters" element="tns:createNewPartnerReservation"/>
</message>
<message name="createNewPartnerReservationResponse">
<part name="parameters" element="tns:createNewPartnerReservationResponse"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="viewAllPartnerReservations">
<part name="parameters" element="tns:viewAllPartnerReservations"/>
</message>
<message name="viewAllPartnerReservationsResponse">
<part name="parameters" element="tns:viewAllPartnerReservationsResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="allocateRoomsForReservationByReservationId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/allocateRoomsForReservationByReservationIdRequest" message="tns:allocateRoomsForReservationByReservationId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/allocateRoomsForReservationByReservationIdResponse" message="tns:allocateRoomsForReservationByReservationIdResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/allocateRoomsForReservationByReservationId/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="retrieveAvailableRoomTypes">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAvailableRoomTypesRequest" message="tns:retrieveAvailableRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAvailableRoomTypesResponse" message="tns:retrieveAvailableRoomTypesResponse"/>
</operation>
<operation name="viewPartnerReservationDetails">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewPartnerReservationDetailsRequest" message="tns:viewPartnerReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewPartnerReservationDetailsResponse" message="tns:viewPartnerReservationDetailsResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/viewPartnerReservationDetails/Fault/InvalidLoginCredentialException"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/viewPartnerReservationDetails/Fault/ReservationNotFoundException"/>
</operation>
<operation name="createNewPartnerReservation">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPartnerReservationRequest" message="tns:createNewPartnerReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPartnerReservationResponse" message="tns:createNewPartnerReservationResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPartnerReservation/Fault/InvalidLoginCredentialException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPartnerReservation/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPartnerReservation/Fault/InputDataValidationException"/>
</operation>
<operation name="viewAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllPartnerReservationsRequest" message="tns:viewAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllPartnerReservationsResponse" message="tns:viewAllPartnerReservationsResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllPartnerReservations/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="allocateRoomsForReservationByReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAvailableRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewPartnerReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewPartnerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="viewAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>